/* common styles */

body {
    font-family: 'Work Sans', sans-serif;
}

/* header styles */

header {
    background-image: url(/images/banner/banner3.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    text-align: right;
}

.header-container {
    padding-top: 200px;
    margin-left: 860px;
    margin-right: 200px;
}

.header-title {
    font-size: 36px;
    font-weight: 700;
    color: #FFFFFF;
}

.header-description {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

.common-btn {
    font-size: 18px;
    font-weight: 600;
    color: #005FAC;
    margin-top: 32px;
    padding: 20px 26px;
    border-radius: 5px;
    border: none;
}

/* my failure styles */

.my-failure {
    display: flex;
    gap: 85px;
    margin-top: 130px;
}

.my-failure-img {
    margin-left: 175px;
}

.my-failure-texts {
    margin-top: 250px;
}

.my-failure-title {
    font-size: 28px;
    font-weight: 700;
    margin-right: 350px;
}

.my-failure-description {
    font-size: 14px;
    font-weight: 400;
    color: #444343;
    margin-right: 350px;
}

.my-failure-description-list {
    font-size: 14px;
    font-weight: 400;
    color: #444343;
    list-style: none;
    padding-left: 0px;
}

/* my plans styles */

.my-plans-title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 50px;
}

.img-container {
    display: flex;
    justify-content: center;
    gap: 60PX;
}

.my-plans-subtitle {
    font-size: 36px;
    font-weight: 700;
}

.my-plans-description {
    color: #737272;
}

/* keep positive styles */

.keep-positive-banner {
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url(/images/watch.png);
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 130px;
    height: 300px;
    border-radius: 8px;
}

.keep-positive-title {
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
}

.tilte-btn-container {
    margin-left: 60px;
    padding-top: 60px;
}

.title-btn-container button {
    padding-top: 18px;
}

/* career related skills */

.skills {
    margin-top: 130px;
}

.skills-title {
    text-align: center;
    font-size: 26px;
    margin-bottom: 30px;
}

.skills-description {
    color: #757575;
    text-align: center;
    margin-bottom: 50px;
}

.skills-container {
    display: flex;
    gap: 18px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    font-weight: 700;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    color: #757575;
}

/* footer styles */

footer {
    height: 550px;
    width: 100%;
    background-color: #151414;
    margin-top: 130px;
    display: flex;
    /* justify-content: space-evenly; */
}

.future-container {
    margin-left: 170px;
    margin-top: 100px;
    margin-bottom: 130px;
}

.future-title {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
}

.future-description {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    padding-right: 330px;

}

.future-icons {
    margin-top: 12px;
}

.subscribe-container {
    margin-left: 0px;
}

.subscribe-title {
    font-size: 22px;
    font-weight: 600;
    color: #FFFFFF;
    margin-top: 140px;
    margin-right: 390px;
}

#subscribe-inp {
    height: 36px;
    width: 280px;
    border-radius: 8px;
}

.subscribe-btn {
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #005FAC;
    margin-top: 14px;
    padding: 14px 10px;
    border-radius: 5px;
    border: none;
}